---
layout: layout.njk
title: NYS Digital Service ChartCSS Processor
data: _test
---
{% from './_includes/_components.njk' import barChart, pieChart with context %}

{{
    barChart({
        title:"Test bar chart number one!",
        dataSource: _test,
        denominator: 654678,
        tableHeaders:[
            {
                title:"Month"
            },
            {
                title:"Users"
            }
        ],
        legend:""
    })
}}

{{
    pieChart({
        title:"",
        dataSource: [
        {
            title:"",
            value:"",
            size: 0
        }
    ]
    })
}}